<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title th:text="#{logon.title}">Log On</title>
</head>
<body>
    <div layout:fragment="menu">
        <div th:replace="~{fragments/loggedoff-menu :: menu}"></div>
    </div>

    <div layout:fragment="content">
        <!-- Global errors (e.g. credential mismatch) -->
        <div th:if="${#fields.hasGlobalErrors()}" class="error">
            <ul>
                <li th:each="err : ${#fields.globalErrors()}" th:text="${err}">Error</li>
            </ul>
        </div>

        <form th:action="@{/logon}" th:object="${logonForm}" method="post">
            <table class="form-background">
                <tr>
                    <th colspan="2" class="form-header" th:text="#{logon.header}">Logon Form</th>
                </tr>
                <tr>
                    <td class="form-prompt">
                        <label for="username" th:text="#{prompt.username}">Username</label>
                    </td>
                    <td class="form-field">
                        <input type="text" id="username" th:field="*{username}" size="16" autofocus="autofocus"/>
                        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></span>
                    </td>
                </tr>
                <tr>
                    <td class="form-prompt">
                        <label for="password" th:text="#{prompt.password}">Password</label>
                    </td>
                    <td class="form-field">
                        <input type="password" id="password" th:field="*{password}" size="16"/>
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span>
                    </td>
                </tr>
                <tr>
                    <td class="form-field">
                        <button type="submit" class="command-single" th:text="#{button.logon}">Log On</button>
                    </td>
                    <td class="form-field">
                        <button type="reset" class="command-single" th:text="#{button.reset}">Reset</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="form-footer" th:text="#{logon.footer}">Enter your username and password</td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
