<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title th:text="${registrationForm.action == 'Create'} ? #{registration.title.create} : #{registration.title.edit}">Registration</title>
</head>
<body>
    <div layout:fragment="menu">
        <div th:if="${user != null}" th:replace="~{fragments/loggedon-menu :: menu}"></div>
        <div th:if="${user == null}" th:replace="~{fragments/loggedoff-menu :: menu}"></div>
    </div>

    <div layout:fragment="content">
        <form th:action="@{/saveRegistration}" th:object="${registrationForm}" method="post">
            <div th:if="${#fields.hasGlobalErrors()}" class="error">
                <ul>
                    <li th:each="err : ${#fields.globalErrors()}" th:text="${err}">Global Error</li>
                </ul>
                <hr/>
            </div>
            <input type="hidden" th:field="*{action}"/>

            <table class="form-background">
                <thead>
                    <tr class="form-header">
                        <th colspan="2">
                            <span th:if="${registrationForm.action == 'Create'}" th:text="#{registration.header.create}">Enter Registration Information</span>
                            <span th:if="${registrationForm.action == 'Edit'}" th:text="#{registration.header.edit}">Edit Your Registration Information</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="form-prompt">
                            <label for="username" th:text="#{prompt.username}">Username</label>
                        </td>
                        <td class="form-field">
                            <span th:if="${registrationForm.action == 'Create'}">
                                <input type="text" th:field="*{username}" id="username" size="16" autofocus="autofocus"/>
                            </span>
                            <span th:if="${registrationForm.action == 'Edit'}">
                                <span th:text="*{username}">username</span>
                                <input type="hidden" th:field="*{username}"/>
                            </span>
                            <span th:if="${#fields.hasErrors('username')}" class="error">
                                <span th:errors="*{username}">Username Error</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-prompt">
                            <label for="password" th:text="#{prompt.password}">Password</label>
                        </td>
                        <td class="form-field">
                            <input type="password" th:field="*{password}" id="password" size="16"/>
                            <span th:if="${#fields.hasErrors('password')}" class="error">
                                <span th:errors="*{password}">Password Error</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-prompt">
                            <label for="password2" th:text="#{prompt.password2}">(Repeat) Password</label>
                        </td>
                        <td class="form-field">
                            <input type="password" th:field="*{password2}" id="password2" size="16"/>
                            <span th:if="${#fields.hasErrors('password2')}" class="error">
                                <span th:errors="*{password2}">Password2 Error</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-prompt">
                            <label for="fullName" th:text="#{prompt.fullName}">Full Name</label>
                        </td>
                        <td class="form-field">
                            <input type="text" th:field="*{fullName}" id="fullName" size="50"/>
                            <span th:if="${#fields.hasErrors('fullName')}" class="error">
                                <span th:errors="*{fullName}">Full Name Error</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-prompt">
                            <label for="fromAddress" th:text="#{prompt.fromAddress}">From Address</label>
                        </td>
                        <td class="form-field">
                            <input type="text" th:field="*{fromAddress}" id="fromAddress" size="50"/>
                            <span th:if="${#fields.hasErrors('fromAddress')}" class="error">
                                <span th:errors="*{fromAddress}">From Address Error</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-prompt">
                            <label for="replyToAddress" th:text="#{prompt.replyToAddress}">Reply To Address</label>
                        </td>
                        <td class="form-field">
                            <input type="text" th:field="*{replyToAddress}" id="replyToAddress" size="50"/>
                            <span th:if="${#fields.hasErrors('replyToAddress')}" class="error">
                                <span th:errors="*{replyToAddress}">Reply To Address Error</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-prompt">
                            <button type="submit" class="command-single" th:text="#{button.save}">Save</button>
                        </td>
                        <td class="form-field">
                            <button type="reset" class="command-multiple" th:text="#{button.reset}">Reset</button>
                            <a th:href="@{/mainMenu}" class="command-multiple" th:text="#{button.cancel}">Cancel</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

        <div th:if="${registrationForm.action == 'Edit' and user != null}">
            <h3 th:text="#{heading.subscriptions}">Current Subscriptions</h3>

            <table class="list-background" th:if="${user.subscriptions != null and #arrays.length(user.subscriptions) > 0}">
                <thead>
                    <tr class="list-header">
                        <th th:text="#{heading.host}">Host Name</th>
                        <th th:text="#{heading.user}">User Name</th>
                        <th th:text="#{heading.type}">Server Type</th>
                        <th th:text="#{heading.autoConnect}">Auto</th>
                        <th th:text="#{heading.action}">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="subscription, iterStat : ${user.subscriptions}"
                        th:class="${iterStat.odd} ? 'list-row-odd' : 'list-row-even'">
                        <td class="list-column-host" th:text="${subscription.host}">mail.example.com</td>
                        <td class="list-column-user" th:text="${subscription.username}">user</td>
                        <td class="list-column-type" th:text="${subscription.type}">imap</td>
                        <td class="list-column-auto" th:text="${subscription.autoConnect}">false</td>
                        <td class="list-column-action">
                            <a th:href="@{/editSubscription(host=${subscription.host},action='Delete')}"
                               class="command-multiple" th:text="#{registration.deleteSubscription}">Delete</a>
                            <a th:href="@{/editSubscription(host=${subscription.host},action='Edit')}"
                               class="command-multiple" th:text="#{registration.editSubscription}">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p th:if="${user.subscriptions == null or #arrays.length(user.subscriptions) == 0}">
                No subscriptions found.
            </p>

            <a th:href="@{/editSubscription(action='Create')}"
               class="command-single" th:text="#{registration.addSubscription}">Add</a>
        </div>
    </div>
</body>
</html>
